{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">
    <script src="{% static 'js/htmx.min.js' %}"></script>
</head>
<body>
    <div class="container" style="height:100vh;display:grid;place-items:center;">
        <div class="col-lg-6 col-md-8 col-12">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="p-5">
                        <form hx-post="" id="login-form" hx-swap-oob="true">
                            {% for error in form.non_field_errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{ field.label }}</label>
                                {{ field }}
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Login
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
</body>
</html>